body{
    margin: 0;
}


/* -------------- side bar ------------------- */
.sidebar{
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    
    width: 400px;
    height: 100vh;

    padding: 5px;
}

.sidebar .cont{
    padding: 5px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.sidebar .doc_select{
    width: 100%;
}
/* ---------------------- info table -------------------- */

.info_table{
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.info_table tr, th, td{
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}

/* ------------------- other classes -------------- */
.center-p{
    text-align: center;
    margin: 5px 0;
}

.logout-btn{
    
    color: red;
    cursor: pointer;
}

.bold{
    font-size: larger;
    font-weight: bold;
}

.mt{
    margin-top: 5px;
}

.w-full{
    width: 100%;
}